* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: #282b30;
    color: white;
    box-sizing: border-box;
}

p{
    font-family: sans-serif;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.nav-bar{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #424549;
    background-size: padding-box;
    border-radius: 20px;
    box-sizing: content-box;
    flex-basis: 10px;
}

.title{
    font-family: fantasy;
}

.strong-blue{
    color: aqua;
    border: 2px solid aqua;
    padding: 1px;
}

.li-title{
    color: aquamarine;
}

.main-flexbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
}

.html_logo{
    display: flex;
    justify-content: right;
    align-content: flex-end;
}